.startSec {
    background-color: black;
    margin-top: 95px;
    padding: 120px 160px;
}

.divStartSec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudoSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.startp{
    color: #f5fcff;
    font-size: 22px;
}

h1 {
    margin-bottom: 40px;
    color: white;
    font-size: 100px;
    font-weight: 700;
    line-height: 90px;
    align-self: stretch;
}


.btnContato {
    padding: 12px 120px;
    background-color: black;
    border: 1px solid #f5fcff;
    color: #f5fcff;
    font-weight: bold;
}

.imgStart {
    display: flex;
    width: 32%;
}

.imgStart > img {
    width: 100%;
    height: 100%;
}

/*respondividade*/

@media screen and (max-width: 1440px) {
    h1{
        font-size: 85px;
        margin-bottom: 25px;
    }
    .startp{
        font-size: 22px;
    }
    .btnContato {
        padding: 12px 130px;
    }
    .imgStart {
        width: 30%;
    }
}

@media screen and (max-width: 1100px) {
    .startSec {
        margin-top: 60px;
    }
    .conteudoSec {
        gap: 20px;
    }
    h1{
        font-size: 74px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1024px) {
    .startSec {
        padding: 140px 100px;
    }
    .conteudoSec {
        gap: 24px;
    }
    h1{
        font-size: 70px;
        margin-bottom: 10px;
    }
    .btnContato {
        padding: 12px 120px;
    }
    .imgStart {
        width: 32%;
    }
}

@media screen and (max-width: 950px) {
    h1{
        font-size: 72px;
        margin-bottom: 8px;
    }
    .startp{
        font-size: 20px;
    }
    .btnContato {
        padding: 10px 110px;
    }
}

@media screen and (max-width: 860px) {
    h1{
        font-size: 60px;
        margin-bottom: 0px;
    }
    .conteudoSec{
        gap: 10px;
    }
    .startp{
        font-size: 18px;
    }
    .btnContato {
        padding: 10px 90px;
    }
    .imgStart {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .startSec{
        padding: 140px 70px;
    }
    h1{
        font-size: 58px;
        margin-bottom: 6px;
    }
    .imgStart {
        width: 26%;
    }
}

@media screen and (max-width: 700px) {
    .divStartSec{
        flex-direction: column;
        gap: 40px;
    }
    h1{
        font-size: 62px;
        margin-bottom: 6px;
    }
    .imgStart {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .imgStart {
        width: 48%;
    }
    h1{
        font-size: 58px;
    }
    .startp{
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .startSec{
        padding: 100px 50px;
    }
    h1{
        font-size: 50px;
    }
    
    .btnContato {
        padding: 6px 72px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 426px) {
    .startSec{
        margin-top: 70px;
        padding: 60px 20px;
    }
    .divStartSec{
        gap: 38px;
    }
    .conteudoSec{
        gap: 8px;
    }
    h1{
        font-size: 54px;
        margin-bottom: 0px;  
    }
    .imgStart {
        width: 52%;
    }
}

@media screen and (max-width: 380px) {
    .startSec{
        margin-top: 60px;
    }
    .divStartSec{
        gap: 32px;
    }
    .conteudoSec{
        gap: 4px;
    }
    h1{
        font-size: 52px;
    }
    .imgStart {
        width: 50%;
    }
}

@media screen and (max-width: 375px) {
    .startSec{
        padding: 50px 20px;
    }
    .divStartSec{
        gap: 30px;
    }
    .conteudoSec{
        gap: 2px;
    }
    h1{
        font-size: 50px;
    }
    .startp{
        font-size: 14px;
    }
    .btnContato {
        padding: 4px 64px;
        font-size: 14px;
    }
    .imgStart {
        width: 46%;
    }
}

@media screen and (max-width: 340px) {
    .startSec{
        margin-top: 50px;
    }
    h1{
        font-size: 46px;
        width: 98%;
    }
}

@media screen and (max-width: 320px) {
    .startSec{
        padding: 40px 30px;
        margin-top: 60px;
    }
    .divStartSec{
        gap: 20px;
    }
    h1{
        font-size: 40px;
        width: 98%;
    }
    .conteudoSec{
        gap: 0px;
    }
}
