.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 160px;
    border-bottom: 1px solid white;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logoImg{
    width: 45%;
}

/*`navbar--items*/
.navbarItems > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 45px;
    text-decoration: none;
}

.navbarItems ul > li > a {
    text-decoration: none;
}


/*"navbar--content"*/
.navbarContent{
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

/*"navbar--active-content"*/
.navbarActiveContent {
    color: red;
}

.btnNavContact{
    padding: 6px 62px;
    background-color: black;
    border: 1px solid #f5fcff;
    color: #f5fcff;

}


/*nav__hamburger    */
.navHamburguer{
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 25px;
}

/*nav__hamburger__line  */
.navHamburguerLine{
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: white;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;    
}

@media screen and (max-width: 1200px) {
    .navHamburguer {
      display: flex;
      z-index: 200;
    }
    .navbarItems {
      display: flex;
    }
    .navbarItems {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      top: -20rem;
      left: 0;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
    .navbarItems ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
      z-index: -100;
    }
    .navbarItems ul li {
      text-align: center;
    }
    .navbarItems ul li a {
      padding: 0.5rem;
    }
    .navbarItems {
      z-index: -1000;
    }
    .navbarItems.active {
      top: 30px;
    }
    .navHamburguer.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .navHamburguer.active :nth-child(2) {
      opacity: 0;
    }
  
    .navHamburguer.active :nth-child(3) {
      transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
  }