/*footer--container   footer*/
.footerContainer {
    display: flex;
    padding: 5px 160px;
    flex-direction: column;
    align-items: flex-start;
    background: black;
    align-items: center;
    align-self: stretch;
}

/*footer--link--container  primeira div*/
.footerLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}


.logoFooter{
    width: 45%;
}


/*"navbar--content"    navbarContent*/
.footerContent{
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

/*"navbar--active-content"   navbarActiveContent*/
.footerActiveContent {
    color: var(--primary);
}


/*footer--social--icon*/
.footerSocialIcon > ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    text-decoration: none;
}


.divider {
    margin: 106px 0 42.67px;
    height: 1.333px;
    width: 100%;
    background: white;
}

.footerP{
    color: white;
}


/*responsividade*/
@media screen and (max-width: 1024px) {
    .footerContainer {
        padding: 8px 88px;
    }
}

@media screen and (max-width: 768px) {
    .footerContainer {
        padding: 8px 60px;
    }
}

@media screen and (max-width: 426px) {
    .footerContainer {
        padding: 2px 30px;
    }
    .logoFooter{
        width: 40%;
    }
}